@font-face {
    font-family: NotoSansTC;
    src: url(NotoSansTC-Regular.otf);
  }

#my-app{
    min-height: 120vh;
    min-width: 100vw;
    position:relative;
    font-family: NotoSansTC;
    overflow: hidden;    
}

html{
    margin:0;
    padding:0;
    overflow: hidden;
}
body{
    margin:0;
    padding:0;
}